html

    head
    
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title= 'FreeCodeCamp basejump Build a Voting App'
        
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        
    body
    
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div#navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.pull-right
                        li.active
                            a(href='#') Home
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') User 
                                span.caret
                            ul.dropdown-menu.inverse-dropdown
                                li
                                    a(href='#') Sign in
                                li
                                    a(href='#') Sign up
                        li
                            a(href='#') Create
    
        div#main.container
            div.jumbotron
                div.row
                    div.col-xs-12.col-sm-12.col-lg-3.icons
                        i.fa.fa-bar-chart
                    div.col-xs-12.col-sm-12.col-lg-9
                        h1= 'fcc-voting'
                        p= 'This is a web app project created by otmeek'
                            a(href='http://www.freecodecamp.com/otmeek')
                                i.fa.fa-fire.fa-fw
                            = ' as part of '
                            a(href='http://www.freecodecamp.com/') FreeCodeCamp
                            = '\'s curriculum, with help from the awesome FCC community!'
                        p= 'Here you can vote on other users\' polls and create your own.'
            
            h2 Latest polls
            div.list-group
                each i in data
                    a.list-group-item(href=i.url)= i.title
            
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')